/**************************************************/
/*               ** CAROUSEL **
/*               --------------
 */
/**************************************************/

#formation__carousel__section {
	margin-top: 2%;
}

.carousel {
    position: relative;
    height: 620px;
    width: 75%;
    margin-left: 12%;
    outline: none;
}

.carousel__container {
    transition: transform 0.7s;
    transform: translate3d(0, 0, 0);
    height: 600px;
}

.carousel__container::after {
    content: '';
    clear: both;
    display: table;
}

.carousel__item {
    float: left;
    height: 100%;
}

.item {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #0a4906;
    border-radius: 5px;
    color: #000;
    z-index: 2;
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.41);
}

.carousel__next, .carousel__prev {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 50%;
    margin-top: -20px;
    right: -3%;
    cursor: pointer;
    transition: transform 0.3s;
}

.carousel__next, .carousel__prev img{
    width: auto;
    height: auto;
}

.carousel__next:hover, .carousel__prev:hover {
    transform: scale(1.1);
}

.carousel__prev {

    left: -3%;
}

.carousel__next--hidden, .carousel__prev--hidden {
    opacity: 0;
}

.carousel__pagination {
    position: absolute;
    bottom: -10%;
    left: 0;
    right: 0;
    text-align: center;
}

.carousel__pagination__button {
    background-color: #5d9f56;
    width: 11%;
    height: 30px;
    border-radius: 0.45rem;
    margin: -1% 1.2%;
    display: inline-block;
    transition: transform 0.3s;
    cursor: pointer;
}

.carousel__pagination__button__entity {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 1.4vw;
    font-weight: bold;
}

.carousel__pagination__button__calendar {
    font-size: 22px;
}

.carousel__pagination__button--active, .carousel__pagination__button:hover {
    transform: scale(1.20);
    background-color: #176d25;
    border: 1px solid black;
}


/**************************************************/
/*                  ** ITEM **
/*                  ----------
 */
/**************************************************/


/****************************/
/* ITEM__LAYOUT
/****************************/

.item__formation {
    display: grid;
    grid-template-areas:
            "header header"
            "techno techno"
            "teacher project";
    grid-template-columns: 28% 71.5%;
    grid-template-rows: 17% 13% 69%;
    grid-column-gap: 0.5%;
    grid-row-gap: 0.5%;
    height: 100%;
    margin: 0;
}


/****************************/
/* ITEM__HEADER
/****************************/

.item__formation__header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c7220;
    color: #FFF;
    font-size: 2vw;
}

.item__formation__header__bg {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(210, 211, 201, 0.44);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    border-top: 2px solid rgba(255, 255, 255, 0.3);;
}

.item__formation__header h2{
    font-size: 3vw;
}


.formation__header__date {
    width: 35%;
    display: flex;
    align-items: center;
    font-size: 1.5vw;
}

.formation__header__date svg{
    padding-right: 2%;
}


/****************************/
/* ITEM__TECHNO
/****************************/

.item__formation__techno {
    grid-area: techno;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item__formation__techno__bg {
    width: 99%;
    height: 94%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(108, 157, 106, 0.25);
    border: 2px solid rgba(0, 128, 0, 0.48);
}

.item__formation__techno img{
    width: 60px;
    height: 60px;
    margin: 5px;
}

.item__formation__techno img:nth-child(5) {
    width: 80px;
    height: 40px;
}

.item__formation__techno img:nth-child(6) {
    width: 90px;
    height: 90px;
}


/****************************/
/* ITEM__INSTRUCTOR
/****************************/

.item__formation__instructor {
    grid-area: teacher;
    width: 100%;
    height: 100%;
    background-color: rgb(23,109,37);
    display: flex;
    justify-content: center;
    align-items: center;
}

.item__formation__instructor__container {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #FFF;
    font-size: 1.4vw;
    background-color: rgba(248, 255, 237, 0.31);
    border-radius: 5px;
    margin: 0;
    padding: 10px 0;
}

.item__formation__instructor__photo {
    background-color: #f8ffed;
    border-radius: 10px;
}

.item__formation__instructor__photo__bg {
    margin: 5px;
}

.item__formation__instructor__photo img{
    width: 80px;
    height: 80px;
    padding-top: 5px;
}

.item__formation__instructor__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4vw;
}

.item__formation__instructor__section p:nth-child(1){
    font-size: 1.8vw;
    font-weight: bold;
}

.item__formation__instructor__section p:nth-child(2){
    font-size: 1.8vw;
    font-weight: bold;
    margin-bottom: 5px;
}

.item__formation__instructor button{
    margin: 10px;
}

/****************************/
/* ITEM__PROJECTS
/****************************/

.item__formation__project {
    grid-area: project;
    background-color: rgb(248, 255, 237);
}

.item__formation__project__header {
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c7220;
}

.item__formation__project h3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    padding: 0;
    background-color: rgba(210, 211, 201, 0.44);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    border-top: 2px solid rgba(255, 255, 255, 0.3);;
    color: #FFF;
    text-transform: uppercase;
    font-size: 1.8vw;
}

.item__formation__project__container {
    overflow-y: auto;
    height: 86.5%;
}

.item__formation__projects__entity__container1, .item__formation__projects__entity__container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 30px 7px 30px;
}

.item__formation__projects__entity {
    background-color: rgba(255, 255, 255, 0.77);
    min-height: 110px;
    margin: 5px 3px 0 0;
    border: 2px solid green;
}

.item__formation__projects__entity__container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5d9f56;
}

.item__formation__projects__entity__container2 {
    font-size: 1.4vw;
}

.item__formation__projects__entity__container1 span:nth-child(1){
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-size: 1.6vw;
}


/**************************************************/
/*              ** MEDIA QUERIES **
/*              -------------------
/*
/*  1200 -> 1299
/*  1000 -> 1199
/*  800 -> 999
/*  600 -> 799
/*  400 -> 599
/*
/**************************************************/


/************* 1200 -> 1299 ****************/
@media screen and (min-width: 1200px) and (max-width: 1299px) {

    /****************************/
    /* ITEM__INSTRUCTOR
    /****************************/

    .item__formation__instructor__container {
        font-size: 1.6vw;
    }

    .item__formation__instructor__section {
        font-size: 1.6vw;
    }

    .item__formation__instructor__section p:nth-child(1){
        font-size: 2vw;
    }

    .item__formation__instructor__section p:nth-child(2){
        font-size: 2vw;
    }


    /****************************/
    /* ITEM__PROJECTS
    /****************************/

    .item__formation__project h3{
        font-size: 2vw;
    }

    .item__formation__projects__entity__container2 {
        font-size: 1.6vw;
    }

    .item__formation__projects__entity__container1 span:nth-child(1){
        font-size: 1.8vw;
    }
}


/************* 1000 -> 1199 ****************/
@media screen and (min-width: 1000px) and (max-width: 1199px) {
    /****************************/
    /* ITEM__INSTRUCTOR
    /****************************/

    .item__formation__instructor__container {
        font-size: 1.8vw;
    }

    .item__formation__instructor__section {
        font-size: 1.8vw;
    }

    .item__formation__instructor__section p:nth-child(1){
        font-size: 2.2vw;
    }

    .item__formation__instructor__section p:nth-child(2){
        font-size: 2.2vw;
    }


    /****************************/
    /* ITEM__PROJECTS
    /****************************/

    .item__formation__project h3{
        font-size: 2.2vw;
    }

    .item__formation__projects__entity__container2 {
        font-size: 1.8vw;
    }

    .item__formation__projects__entity__container1 span:nth-child(1){
        font-size: 2vw;
    }
}


/************* 800 -> 999 ****************/
@media screen and (min-width: 800px) and (max-width: 999px) {

    /****************************/
    /* ITEM__HEADER
    /****************************/

    .item__formation__header {
        font-size: 2.2vw;
    }

    .item__formation__header h2{
        font-size: 3.2vw;
    }

    .formation__header__date {
        font-size: 1.7vw;
    }

    /****************************/
    /* ITEM__INSTRUCTOR
    /****************************/

    .item__formation__instructor__container {
        font-size: 2vw;
    }

    .item__formation__instructor__section {
        font-size: 2vw;
    }

    .item__formation__instructor__section p:nth-child(1){
        font-size: 2.4vw;
    }

    .item__formation__instructor__section p:nth-child(2){
        font-size: 2.4vw;
    }


    /****************************/
    /* ITEM__PROJECTS
    /****************************/

    .item__formation__project h3{
        font-size: 2.4vw;
    }

    .item__formation__projects__entity__container2 {
        font-size: 2vw;
    }

    .item__formation__projects__entity__container1 span:nth-child(1){
        font-size: 2.2vw;
    }
}


/************* 600 -> 799 ****************/
@media screen and (min-width: 600px) and (max-width: 799px) {


    /****************************/
    /* CAROUSEL
    /****************************/

    .carousel__next, .carousel__prev {
        width: 50px;
        height: 50px;
    }

    .carousel__next {
        right: 0;
    }


    /****************************/
    /* ITEM__LAYOUT
    /****************************/

    .item__formation {
        display: grid;
        grid-template-areas:
                "header header"
                "techno techno"
                "teacher teacher"
                "project project";
        grid-template-columns: 28% 71.5%;
        grid-template-rows: 15% 11% 17% 56%;
        grid-column-gap: 0.5%;
        grid-row-gap: 0.5%;
        height: 100%;
        margin: 0;
    }

    /****************************/
    /* ITEM__HEADER
    /****************************/

    .item__formation__header {
        font-size: 2.4vw;
    }

    .item__formation__header h2{
        font-size: 3.4vw;
    }

    .formation__header__date {
        font-size: 1.9vw;
    }


    /****************************/
    /* ITEM__TECHNO
    /****************************/

    .item__formation__techno img{
        width: 50px;
        height: 50px;
        margin: 3px;
    }

    .item__formation__techno img:nth-child(5) {
        width: 60px;
        height: 40px;
    }

    .item__formation__techno img:nth-child(6) {
        width: 80px;
        height: 80px;
    }


    /****************************/
    /* ITEM__INSTRUCTOR
    /****************************/

    .item__formation__instructor__photo {
        height: 90%;
    }

    .item__formation__instructor__photo img{
        width: 86%;
        height: 86%;
        padding: 0;
    }

    .item__formation__instructor__photo__bg {
        width: 90%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .item__formation__instructor__container {
        width: 100%;
        font-size: 2.2vw;
        display: flex;
        flex-direction: row;
    }

    .item__formation__instructor__section {
        font-size: 2.2vw;
    }

    .item__formation__instructor__section p:nth-child(1){
        font-size: 2.6vw;
    }

    .item__formation__instructor__section p:nth-child(2){
        font-size: 2.6vw;
    }


    /****************************/
    /* ITEM__PROJECTS
    /****************************/

    .item__formation__project {
        height: 97.5%;
    }

    .item__formation__project__header {
        height: 15%;
    }

    .item__formation__project h3{
        font-size: 2.8vw;
    }

    .item__formation__projects__entity__container2 {
        font-size: 2.2vw;
    }

    .item__formation__projects__entity__container1 span:nth-child(1){
        font-size: 2.4vw;
    }

    .item__formation__projects__entity {
        margin: 5px 3px 0 3px;
    }
}


/************* 400 -> 599 ****************/
@media screen and (min-width: 400px) and (max-width: 599px) {


    /****************************/
    /* CAROUSEL
    /****************************/

    .carousel__next, .carousel__prev {
        width: 50px;
        height: 50px;
    }

    .carousel__next {
        right: 0;
    }


    /****************************/
    /* ITEM__LAYOUT
    /****************************/

    .item__formation {
        display: grid;
        grid-template-areas:
                "header header"
                "techno techno"
                "teacher teacher"
                "project project";
        grid-template-columns: 28% 71.5%;
        grid-template-rows: 15% 11% 17% 56%;
        grid-column-gap: 0.5%;
        grid-row-gap: 0.5%;
        height: 100%;
        margin: 0;
    }

    /****************************/
    /* ITEM__HEADER
    /****************************/

    .item__formation__header {
        font-size: 2.4vw;
    }

    .item__formation__header h2{
        font-size: 3.4vw;
    }

    .formation__header__date {
        font-size: 1.9vw;
    }


    /****************************/
    /* ITEM__TECHNO
    /****************************/

    .item__formation__techno img{
        width: 50px;
        height: 50px;
        margin: 3px;
    }

    .item__formation__techno img:nth-child(5) {
        width: 60px;
        height: 40px;
    }

    .item__formation__techno img:nth-child(6) {
        width: 80px;
        height: 80px;
    }


    /****************************/
    /* ITEM__INSTRUCTOR
    /****************************/

    .item__formation__instructor__photo {
        height: 90%;
    }

    .item__formation__instructor__photo img{
        width: 86%;
        height: 86%;
        padding: 0;
    }

    .item__formation__instructor__photo__bg {
        width: 90%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .item__formation__instructor__container {
        width: 100%;
        font-size: 2.2vw;
        display: flex;
        flex-direction: row;
    }

    .item__formation__instructor__section {
        font-size: 2.2vw;
    }

    .item__formation__instructor__section p:nth-child(1){
        font-size: 2.6vw;
    }

    .item__formation__instructor__section p:nth-child(2){
        font-size: 2.6vw;
    }


    /****************************/
    /* ITEM__PROJECTS
    /****************************/

    .item__formation__project {
        height: 97.5%;
    }

    .item__formation__project__header {
        height: 15%;
    }

    .item__formation__project h3{
        font-size: 2.8vw;
    }

    .item__formation__projects__entity__container2 {
        font-size: 2.2vw;
    }

    .item__formation__projects__entity__container1 span:nth-child(1){
        font-size: 2.4vw;
    }

    .item__formation__projects__entity {
        margin: 5px 3px 0 3px;
    }
}