@media only screen and (max-width: 960px) {

	/************************************************************/
	/*								Nav							*/
	/************************************************************/
	nav {
		height: 50px;
		font-size: 1.4em;
	}

	.nav__txt, .nav__link, .nav__login {
		line-height: 50px;
	}

}
