/************************************************************/
/*							HTML and Body					*/
/************************************************************/

html {
	font: 1em "Agency FB";
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#caec97+0,caec97+9,ecf0f1+32 */
	background: #caec97; /* Old browsers */
	background: -moz-linear-gradient(top, #caec97 0%, #caec97 9%, #ecf0f1 32%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #caec97 0%, #caec97 9%, #ecf0f1 32%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #caec97 0%, #caec97 9%, #ecf0f1 32%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#caec97', endColorstr='#ecf0f1', GradientType=0); /* IE6-9 */
}

#page {
	height: 100%;
	width: 100%;
	overflow: auto;
	margin: 0;
	padding: 0;
	background: url("../img/afpalab_logo_low_opacity.png") no-repeat fixed left;
	background-size: auto 80%;
}

/************************************************************/
/*								Nav							*/
/************************************************************/

nav {
	font-size: 2em;
	background: linear-gradient(#3F6600, #679F0B, #69A010);
	height: 62px;
}

nav img {
	height: 100%;
	padding-left: 20px;
	float: left;
}

.nav__txt, .nav__link, .nav__login {
	color: #ecf0f1;
	text-decoration: none;
	padding: 12px 20px;
}

.nav__txt {
	float: left;
	padding-left: 5px;
	cursor: default;
}

.nav__link {
	float: left;
}

.nav__login {
	float: right;
}

.nav__link:hover, .nav__login:hover, .nav__link--active {
	cursor: pointer;
	color: black;
	background: linear-gradient(#69A010, #9DD445, #CAEC97);
}

/*		Burger menu		*/
#burger__container {
	display: none;
}

#burger__bar1, #burger__bar2, #burger__bar3 {
	width: 35px;
	height: 5px;
	background-color: #333;
	margin: 6px 0;
	transition: 0.4s;
}

.change #burger__bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}

.change #burger__bar2 {opacity: 0;}

.change #burger__bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}

/************************************************************/
/*							Section							*/
/************************************************************/

section {
}

/************************************************************/
/*							Footer							*/
/************************************************************/

footer {
	text-align: center;
	color: #ecf0f1;
	font-weight: bold;
	height: 34px;
	width: 100%;
	background: linear-gradient(#69A010, #679F0B, #3F6600);
	overflow: hidden;
	position: fixed;
	bottom: 0;
}

.footer__text {
	width: 100%;
	font-size: 1.2em;
	padding: 5px;
	float: left;
}

/************************************************************/
/*							Modals							*/
/************************************************************/

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: rgba(0, 0, 0, 0.4);
	padding-top: 100px;
}

.modal__container {
	width: 50%;
	padding: 25px;
	margin: auto;
	white-space: nowrap;
	overflow: hidden;
	background: #E9EEE1;
	border: 4px solid #679F0B;
	border-radius: 10px;
}

.close__modal {
	color: #679F0B;
	float: right;
	position: relative;
	z-index: 20;
}

.close__modal:hover {
	color: red;
}

/************************************************************/
/*						Modal login							*/
/************************************************************/

#login__container {
	max-width: 600px;
}

#login__form {
	width: 70%;
	display: inline-block;
	vertical-align: middle;
}

#login__container img {
	width: 25%;
	margin-right: 5%;
	vertical-align: middle;
}

#login__form input[type=text], #login__form input[type=password] {
	display: inline-block;
	width: 100%;
	padding: 4px 10px;
	margin: 8px 0px;
	box-sizing: border-box;
}

#login__form input[type=checkbox] {
	display: inline-block;
	vertical-align: middle;
}

#login__form label {
	display: inline-block;
	font-size: 1.2em;
	vertical-align: middle;
}

/************************************************************/
/*						Modal contact						*/
/************************************************************/

#contact__container h2 {
	text-align: center;
}

#contact__container img {
	width: 20%;
	margin-right: 5%;
	vertical-align: middle;
}

#contact__form__header {
	width: 75%;
	display: inline-block;
	vertical-align: middle;
}

#contact__container input[type=text], #contact__recipient, #contact__message {
	display: inline-block;
	width: 100%;
	padding: 4px 10px;
	margin: 8px 0px;
	box-sizing: border-box;
}

#contact__recipient {
	padding: 0;
	font-weight: bold;
}

#contact__form__body {
	width: 100%;
	clear: both;
}

#contact__message {
	height: 200px;
}

#contact__btn--send {
	display: block;
	margin: auto;
}

/************************************************************/
/*							Elements						*/
/************************************************************/

.btn__generic {
	display: inline-block;
	font: inherit;
	font-weight: bold;
	font-size: 1.2em;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
	padding: 4px 8px;
	background: linear-gradient(#3F6600, #679F0B, #69A010);
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 -1px 0 rgba(255, 255, 255, 0.4);
	vertical-align: middle;
}

.btn__generic:hover {
	cursor: pointer;
	background: linear-gradient(#69A010, #9DD445, #CAEC97);
}

.btn__generic:active {
	background: linear-gradient(#3F6600, #679F0B, #69A010);
	box-shadow: 1px 1px 10px black inset, 0 1px 0 rgba(255, 255, 255, 0.4);
}

p {
	font-size: 1.5em;
	padding: 10px;
	font-family: Agency FB;
	text-align: justify;
	text-indent: 2em;
}

h3 {
	color: #679F0B;
}

hr {
	display: none;
}

/************************************************************/
/*					Page stagiaire de Nico					*/
/************************************************************/

.slide__container {
	height: 600px;
	width: 70%;
	margin: 100px auto auto auto;

	background-color: rgba(255, 255, 255, 0.2);
	border-bottom: 2px solid #679F0B;
	border-radius: 10px 10px 0 0;
	box-shadow: 10px 10px 10px grey;

	display: flex;
	flex-flow: row wrap;
}

.slide__header {
	width: 100%;
	height: 30%;

	background-image: linear-gradient(#3F6600, #679F0B, #69A010);
	border-bottom: 2px solid #679F0B;
	border-radius: 10px 10px 0 0;

	word-wrap: break-word;

	display: flex;
	flex-flow: row wrap;
}

.slide__aside__left {
	width: 14%;
	height: 70%;

	border-left: 2px solid #679F0B;
	border-right: 2px solid #679F0B;
}

.slide__main {
	width: 70%;
	height: 70%;
}

.slide__aside__right {
	width: 14%;
	height: 69%;

	border-left: 2px solid #679F0B;
	border-right: 2px solid #679F0B;

	flex-grow: 1;
	overflow: auto;
}

/*************************/
/** HEADER SLIDE STUDENT **/
/*************************/
.pic__container {
	height: 70%;
	min-width: 15%;

	margin: 0 auto 0 auto;
	display: flex;
	order: 2;
}

.pic__container img {
	height: 100%;

	margin: auto;
	border-radius: 50%;
}

.title__container {
	height: 70%;
	width: auto;

	margin-left: 10px;
	order: 3;

}

.student__title {
	font-family: Agency FB;
	font-size: 1.5em;
	color: white;
	margin: 5px;
	margin-left: 0;
	word-wrap: break-word;
}

.student__website {
	color: white;
	text-decoration: none;
	font-size: 1em;
	font-family: Agency FB;
	font-style: italic;
	margin: 10px;
	margin-left: 0;
	display: block;
}

.options__container {
	margin: 5px 5px 5px auto;
}

.options__social {
	width: auto;
	height: 30%;
	padding: 0;
	list-style-type: none;
	flex-flow: row wrap;
	margin: auto;
}

.options__social li {
	display: block;
	float: left;
	height: 40px;
	margin: 2px;
	align-self: flex-end;
}

.options__report {
	width: 100%;
	height: 20%;
	order: 1;
	margin: 10px 10px 0 0;
	transition-duration: 0.3s;
}

.options__contact {
	width: 15%;
	height: 70%;
	margin: auto;

	color: white;
	font-weight: bold;
	text-align: center;
	order: 4;
	transition-duration: 0.3s;
}

.options__contact img {
	height: 40%;
}

.contact__label {
	font-size: 0.8em;
	color: white;
	font-family: Agency FB;
	margin: 0;
	font-size: 1em;
}

.options__contact:hover {
	transform: scale(1.2);
}

.options__report img {
	float: right;
}

.social__icons {
	transition-duration: 0.3s;
}

.social__icons:hover {
	transform: scale(1.2);
}

/*************************/
/**     COLUMN LEFT     **/
/*************************/

.techno__list {
	height: 100%;

	list-style-type: none;
	overflow: auto;
	padding: 0;
	margin: auto auto auto auto;

	display: flex;
	flex-flow: column;
}

.techno__list li {
	width: 60px;
	margin: auto;
}

/*************************/
/**     COLUMN RIGHT     **/
/*************************/

.doc__list {
	height: 100%;
	list-style-type: none;
	padding: 10px;

	display: flex;
	flex-flow: column;
}

.doc__list li {
	margin: auto;
}

.doc__list li img {
	height: 60px;
}
