@media screen and (max-width: 800px) {

	/************************************************************/
	/*								Nav							*/
	/************************************************************/
	nav {
		position: absolute;
		width: 100%;
		top: 0;
	}

	nav img {
		margin-left: calc(50% - 50px);
	}

	/* Dropdown Content (Hidden by Default) */
	.nav__txt, .nav__link {
		color: black;
		display: none;
		background-color: #ecf0f1;
		min-width: 160px;
		clear: both;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		z-index: 1;
	}

	#burger__container {
		display: inline-block;
		position: absolute;
		z-index: 5;
		top: 5px;
		left: 5px;
	}

	/************************************************************/
	/*							Section							*/
	/************************************************************/
	section {
		margin-top: 50px;
	}

	/************************************************************/
	/*							Modals							*/
	/************************************************************/
	.modal {
		padding-top: 20px;
	}

	.modal__container {
		width: 80%;
	}
}