@media screen and (max-width: 800px) {

	/************************************************************/
	/*								Nav							*/
	/************************************************************/

	nav {
		position: absolute;
		width: 100%;
		top: 0;
	}

	nav img {
		margin-left: calc(50% - 50px);
	}

	#nav__div__links {
		position: absolute;
		top: 50px;
		display: none;
	}

	/* Dropdown Content (Hidden by Default) */
	.nav__link {
		color: black;
		display: block;
		background-color: #ecf0f1;
		min-width: 160px;
		clear: both;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	}

	#burger__container {
		display: inline-block;
		position: absolute;
		z-index: 5;
		top: 5px;
		left: 5px;
	}

	/************************************************************/
	/*							Section							*/
	/************************************************************/

	section {
		margin-top: 50px;
	}

	/************************************************************/
	/*							Modals							*/
	/************************************************************/

	.modal {
		padding-top: 20px;
	}

	.modal__container {
		width: 80%;
	}

	/************************************************************/
	/*					Page stagiaire de Nico					*/
	/************************************************************/
	hr {
		display: block;
		width: 60%;
	}

	p {
		padding: 30px;
		margin: 0;
	}

	.slide__container {
		width: 90%;
		margin: 90px auto;
	}

	/*****************************/
	/**GLOBAL LAYOUT RESPONSIVE **/
	/*****************************/
	.slide__aside__right {
		width: 100%;
		height: 100%;
		border-left: 2px solid #679F0B;

	}

	.slide__main {
		width: 100%;
		height: 100%;
		border-left: 2px solid #679F0B;
		border-right: 2px solid #679F0B;

	}

	.slide__aside__left {
		width: 100%;
		height: 100%;
		height: auto;
		border-left: 2px solid #679F0B;
		border-right: 2px solid #679F0B;
	}

	.slide__header {
		height: 100%;
		flex-flow: column;
	}

	/*****************************/
	/**                        **/
	/*****************************/
	.slide__container {
		height: auto;

	}

	.pic__container {
		width: 100%;
		height: auto;
		margin: auto;
		order: 2;
	}

	.pic__container img {
		width: 30%;
	}

	.title__container {
		width: 100%;
		height: auto;
		text-align: center;
		order: 3;
	}

	.student__website {
		margin: 10px auto;
		width: 80%;
		display: block;
	}

	.options__social {
		height: 30%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 10px auto;
		width: 70%;
	}

	.options__report {
		order: 1;
		width: auto;
		margin: 5px 5px 0 auto;
	}

	.options__contact {
		text-align: center;
		margin: 10px auto;
		font-size: 1em;
		display: block;
		order: 4;
		height: 90px;
		width: 90px;
	}

	.options__contact img {
		height: 75%;
	}

	.contact__label {
		margin: 0 auto;
	}

	.techno__list {
		width: 100%;
		height: 100%;
		margin: 10px auto;

		flex-flow: row wrap;
		justify-content: center;
	}

	.techno_list li {
		margin: auto;
	}

	.doc__list {
		width: 100%;
		padding: 0;
		flex-flow: row wrap;
	}

	.doc__list li {
	}

	.slide__main p {
		padding: auto;
	}

}
