@media screen and (max-width: 800px) {

	/************************************************************/
	/*								Nav							*/
	/************************************************************/
	#nav__div__logo {
		float: none;
		display: block;
		margin: auto;
		text-align: center;
	}

	#nav__div__logo img {
		float: none;
		display: inline;
	}

	#nav__div__links, .nav__txt {
		display: none;
	}

	#nav__div__links {
		float: left;
	}

	.nav__link {
		display: block;
		color: black;
		background: #66b033;
	}

	.nav__link:hover, .nav__link--active {
		display: block;
		color: black;
		background: linear-gradient(#66b033, #c1e6a8, #c1e6a8, #66b033);
	}

	#burger__container {
		display: block;
	}

	/************************************************************/
	/*							Modals							*/
	/************************************************************/
	.modal {
		padding-top: 20px;
	}

	.modal__container {
		width: 80%;
	}
}