@media only screen and (max-width: 1024px) {

	/************************************************************/
	/*								Nav							*/
	/************************************************************/
	nav {
		height: 55px;
		font-size: 1.6em;
	}

	.nav__txt, .nav__link, .nav__login {
		line-height: 55px;
	}

}
