@media only screen and (max-width: 1024px) {

	/************************************************************/
	/*								Nav							*/
	/************************************************************/
	nav {
		height: 55px;
		font-size: 1.6em;
	}

	/************************************************************/
	/*					Page stagiaire de Nico					*/
	/************************************************************/
	.student__title {
		font-size: 1.3em;
	}

	.student__website {
		font-size: 0.8em;
	}

}
