/*----------BLOCK----------*/

.formulaire
{
	position: absolute;
	top: 60px;
}

#noir
{
	width: 100%;
	margin-top: 3%;
}

.vert
{
    flex-wrap: wrap;
	float: left;
	width:280px;
	border: 2px solid green;
	border-radius: 10px;
	box-shadow: 5px 5px 5px black;
	margin: 6% 6% 6% 6%;
}

.jaune
{
	height:33%; 
	display: flex;
	border-bottom: 2px solid green;
}

.image
{
	width: 50%;
}

.image img 
{
	width: 100%;
	height: 100%;
}

.titre
{
	width:100%;
	height:100%;
}

.signal
{
	width:5%;
}

.violet
{
	width:100%;
	height:33%;
}

.orange
{
	width:100%;
	height:100%;
}





/* ----------------------media query ------------------------*/

@media screen and (min-width: 919px ) and (max-width:1330px ){
	.vert
	{
		margin-left: 13%;
	}
}
	

@media screen and (min-width:400px ) and (max-width: 745px ){
	.vert
	{
		margin-left: 15%;
	}
    
}
@media screen and (min-width:338px ) and (max-width:400px ){
	.vert
	{
		margin-left: 10%;
	}

}
@media screen and (min-width:778px ) and (max-width:856px ){

}



@media only screen and (max-width: 1023px) {
	
}
@media screen and (min-width:489px ) and (max-width:778px ) {
	
}

@media screen and (min-width:349px ) and (max-width:489px ) {
	
	
}

@media only screen and (max-width: 950px) {
	#noir
	{
		margin-top: unset;
	}

}

@media only screen and (max-width: 904px) {

}

@media screen and (min-width:320px ) and (max-width:834px ) {
   
}
@media only screen and (max-width: 813px) {


}

@media only screen and (max-width: 800px) {

}

@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 380px) {
}

@media only screen and (max-width: 320px) {
}

/* IE10+ CSS */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)	{
}

/* IE Edge 12+ CSS */ 
@supports (-ms-accelerator:true) {
}




