/*************************/
/**     CAROUSEL        **/
/*************************/

.owl-carousel{
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: auto;
	margin-left: auto;
	width:30%;
}

.owl-nav{
	width:100%;
	font-size: 3em;
	position:absolute;
}

.owl-prev{
	position: fixed;
	top:50%;
	left:10px;	
	color: #528e29!important;
}

.owl-next{
	position: fixed;
	top:50%;
	right:10px;
	color: #528e29!important;
}

.owl-dots{
	margin:20px;
}

.owl-dots > button > span{
	width: 60px;	
}

/*************************/
/**        SELECT       **/
/*************************/
.select{
	display:block;
	margin: 0 auto;
	width: fit-content;
}

/*************************/
/**    BACKGROUND       **/
/*************************/
.slide__header{
	background: -webkit-linear-gradient(#3d6b1f, #528e29, #66b033);
	background: -o-linear-gradient(#3d6b1f, #528e29, #66b033);
	background: linear-gradient(#3d6b1f, #528e29, #66b033);
}

.slide__main, .slide__aside__left, .slide__aside__right{
	background-color: rgba(255,255,255,0.4);
}

/**************************/
/**ANIMATION BUTTON HOVER**/
/**************************/

.social__icons, .options__contact img, .options__report img, .student__website{
	transition-duration: 0.5s;
}

.social__icons:hover, .options__contact img:hover, .options__report img:hover, .student__website:hover{
	transform: scale(1.2);
}

/*************************/
/**    LAYOUT SLIDE     **/
/*************************/

.slide__container{
	display:flex;
	flex-flow: row wrap;
	width:100%;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 5px 5px 10px grey;
}

.slide__header{
	width:100%;
	height:auto;
}
	
.slide__aside__left{
	width:15%;
}

.slide__main{
	width:69%;
	margin:0;
}

.slide__aside__right{
	width:15%;
}

/*************************/
/**       HEADER        **/
/*************************/
.options__contact{
	position:absolute;
	top:5px;
	right:10px;
}
	
.options__report{
	position:absolute;
	top:5px;
	right:60px;
}

.pic__container{
	padding-top: 10px;
	height: auto;
	width: auto;
}

.pic__img{
	display:block;
	height:100px;
	border-radius: 50%;
	margin:auto;
}

.student__title{
	margin: 10px;
	font-size: 2em;
	text-align: center;
	color:white;
}

.student__website{
	text-decoration: none;
	color:white;
	display: block;
	margin:5px;
	text-align: center;
	font-size: 1.5em;
}

.student__website img{
	display:block;
	margin:auto;
}

.options__social{
	display:flex;
	padding:0;
	margin:auto;
	list-style-type: none;
	width:50%;
	justify-content: center;
}

.options__social li{
	margin:5px;
}

.options__profil{
	text-align: right;
	position:relative;
}

.options__profil img{
	width:40px;
	margin: 10px;
}

/*************************/
/**    BODY   SLIDE     **/
/*************************/
.techno__list, .doc__list{
	padding:0px;
	margin:0;
	list-style-type: none;
	text-align: center;
	width:100%;
	height:auto;
	display:flex;
	flex-flow: column;
	justify-content: space-around;
}

.techno__list li, .doc__list li{
	margin:10px;
}

.techno__list li{
	display:flex;
}

.techno__img, .doc__img{
	display:block;
	width:30px;
	margin:auto;
}
	
.slide__main p{
	text-align: justify;
	padding:10px;
	text-indent: 20px;
}

.doc__list h3{
	margin:5px;
	word-break: break-all;
	font-size: 1em;
}



@media screen and (min-width: 600px) and (max-width: 1023px) {
/*************************/
/**       LAYOUT        **/
/*************************/
	
	.slide__aside__left, .slide__header{
		width:100%;
	}

	.slide__main{
		width:80%;
		margin:0;
	}

	.slide__aside__right{
		width:20%;
		margin:none;
	}


/*************************/
/**   RESPONSIVE RULES  **/
/*************************/
	.student__title{
		font-size: 1.5em;
	}

	.techno__list{
		display:flex;
		flex-flow: row wrap;
		padding:0;
		margin:0;
		width:100%;
		justify-content: space-around;
	}

	.techno__img{
		width:50px;
	}
	
	.slide__main p{
		text-align: justify;
		padding:10px;
		text-indent: 20px;
	}

	.doc__list h3{
		margin:5px;
	}
}

@media only screen and (max-width: 600px) {
/*************************/
/**       LAYOUT        **/
/*************************/
	.slide__main, .slide__aside__left, .slide__aside__right{
		width:100%;
	}

/*************************/
/**   SLIDE HEADER      **/
/*************************/	

	.student__title{
		font-size: 1.5em;
	}

	.student__website{
		font-size: 1em;
	}

	.student__website img{
		display:block;
		margin:auto;
	}

	.options__contact{
		position:absolute;
		top:5px;
		right:10px;
	}
	
	.options__report{
		position:absolute;
		right:auto;
		top:5px;
		left:10px;
	}

/*************************/
/**     SLIDE BODY      **/
/*************************/	
	.techno__list, .doc__list{
		display:flex;
		flex-flow: row wrap;
		padding:0;
		margin:0;
		list-style-type: none;
		width:100%;
		justify-content: space-around;
	}

	.techno__img, .doc__img{
		width: 25px;
		height:auto;
	}

	.slide__main p{
		font-size: 1em;
	}

	.doc__list li{
		width:40%;
	}
}
